version: "3"
services:
    dimka:
        container_name: dimka-wex
        build: ./
        image: dimka-wex-bot:latest
        environment:
            - PYTHONPATH=/var/www
        expose:
            - "3000"
        volumes:
            - ./:/var/www
        tty: true
        hostname: dimka
